.authPage {
  padding-top: 30px;

  .authCard {
    margin: 0 auto;
    padding: 40px 32px;
    min-width: 320px;
    max-width: 416px;

    background: #fff;
    border-radius: 12px;
    box-shadow: 0 24px 48px #e6ebf566;
  }
}

