.authPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 200px;

  .authCard {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 32px;
    min-width: 500px;
    max-width: 500px;

    background: #fff;
    border-radius: 12px;
    box-shadow: 0 24px 48px #e6ebf566;
  }
}

